<nav class="navbar navbar-expand-lg navbar-dark bg-blue text-center sticky-top">
  <a class="navbar-brand" href="#">SteunVZW</a>
  <div class="">
    <button class="navbar-toggler mr-2" routerLink="/winkelmandje" type="button">
      <span class="navbar-cart-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link mr-4" data-toggle="collapse" data-target="#navbarNavAltMarkup" routerLink="/">Home</a>
      <a class="nav-link mr-4" data-toggle="collapse" data-target="#navbarNavAltMarkup" routerLink="/producten">Producten</a>
      <a class="nav-link mr-4" data-toggle="collapse" data-target="#navbarNavAltMarkup" routerLink="/organisaties">Vzw's</a>
      <a class="nav-link mr-4" data-toggle="collapse" data-target="#navbarNavAltMarkup" routerLink="/contact">Contact</a>
      <div *ngIf="!this.authService.isLoggedIn()">
        <a class="nav-link mr-4" data-toggle="collapse" data-target="#navbarNavAltMarkup" routerLink="/inloggen"><i class="fas fa-user mr-2"></i>Inloggen</a>
      </div>

      <!-- CUSTOMER -->
      <div *ngIf="this.authService.isLoggedIn() && this.authService.getRole() == 'CUSTOMER'" class="d-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-2"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target="#navbarNavAltMarkup" href="#" routerLink="/bestellingen">Bestellingen</a>
            <a class="dropdown-item" data-toggle="collapse" data-target="#navbarNavAltMarkup"  href="/" (click)="logOut()">Uitloggen</a>
          </div>
        </li>
        <a class="nav-link mr-4" data-toggle="collapse" data-target="#navbarNavAltMarkup" routerLink="/winkelmandje"><i class="fas fa-shopping-cart mr-2"></i></a>
      </div>

      <!-- ORGANIZATION -->
      <div *ngIf="this.authService.isLoggedIn() && this.authService.getRole() == 'ORGANIZATION'" class="d-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-2"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target="#navbarNavAltMarkup" href="#" routerLink="/organisatie">Dashboard</a>
            <a class="dropdown-item" data-toggle="collapse" data-target="#navbarNavAltMarkup" href="/" (click)="logOut()">Uitloggen</a>
          </div>
        </li>
      </div>

      <!-- ADMIN -->
      <div *ngIf="this.authService.isLoggedIn() && this.authService.getRole() == 'ADMIN'" class="d-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user mr-2"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target="#navbarNavAltMarkup" href="#" routerLink="/admin">Dashboard</a>
            <a class="dropdown-item" data-toggle="collapse" data-target="#navbarNavAltMarkup" href="/" (click)="logOut()">Uitloggen</a>
          </div>
        </li>
      </div>
    </div>
  </div>
</nav>
