<nav class="navbar navbar-expand-lg navbar-dark bg-blue text-center sticky-top">
  <a class="navbar-brand" href="#">SteunVZW</a>
  <div class="">
    <button class="navbar-toggler mr-2" routerLink="/winkelmandje" type="button">
      <span class="navbar-cart-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link mr-3" routerLink="/">Home</a>
      <a class="nav-link mr-3" routerLink="/producten">Producten</a>
      <a class="nav-link mr-3" routerLink="/organisaties">Vzw's</a>
      <a class="nav-link mr-3" *ngIf="isCustomer" routerLink="/bestellingen">Bestellingen</a>
      <a class="nav-link mr-3" routerLink="/contact">Contact</a>
      <a class="nav-link mr-3" routerLink="/inloggen" *ngIf="!authService.isLoggedIn()">Inloggen</a>
      <a class="nav-link mr-3" (click)="logOut()" *ngIf="authService.isLoggedIn() && isCustomer">Uitloggen</a>
      <a class="nav-link mr-3" routerLink="/organisatie" *ngIf="authService.isLoggedIn() && isOrganization"><i class="fas fa-user text-white"></i></a>
      <a class="nav-link mr-3" routerLink="/dashboard-admin" *ngIf="authService.isLoggedIn() && isAdmin"><i class="fas fa-user text-white"></i></a>
      <a class="nav-link mr-3" routerLink="/winkelmandje"><i class="fas fa-shopping-cart text-white mr-1"></i></a>
    </div>
  </div>
</nav>
