<div class="sidebar sticky-top">
  <a routerLink="/organisatie"><i class="fas fa-chart-line p-2"></i> Dashboard</a>
  <a routerLink="/organisatie/product"><i class="fas fa-tshirt p-2"></i> Producten</a>
  <a class="active" routerLink="/organisatie/bestelling"><i class="fas fa-shopping-cart p-2"></i> Bestellingen</a>
  <a routerLink="/organisatie/vrije-gift"><i class="fas fa-gift p-2"></i> Vrije giften</a>
  <a routerLink="/organisatie/account"><i class="fas fa-user-alt p-2"></i> Account</a>
  <a routerLink="/uitloggen"><i class="fas fa-sign-out-alt p-2"></i> Uitloggen</a>
</div>

<div class="content">
  <div class="container mt-4">
    <app-title [titleText]="'Bestellingen'"></app-title>

  <!--<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{errorMessage}}
    </div>-->
  <div class="table-responsive">
    <table class="table mt-3 text-center table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datum</th>
          <th scope="col">Aantal producten</th>
          <th scope="col">Prijs</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orderdetail of (orderdetail$ | async)">
        <th scope="row">{{orderdetail.id}}</th>
        <td>{{orderdetail.order.date | date}}</td>
        <td>{{orderdetail.amount}}</td>
        <td>€ {{(orderdetail.product.price * orderdetail.amount)}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  </div>
</div>




