<div class="container mt-4">
  <app-title [titleText]="'FAQ'"></app-title>
  <h4 class="mb-3">Profiel</h4>
  <div class="accordion mb-5" id="accordionProfile">
    <div class="card">
      <div class="card-header" id="profileOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseProfileOne" aria-expanded="true" aria-controls="collapseProfileOne">
            <div class="row">
              <div class="col-10">
                Hoe maak ik een account?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseProfileOne" class="collapse" aria-labelledby="profileOne" data-parent="#accordionProfile">
        <div class="card-body">
          Een account kan je aanmaken door een e-mail en wachtwoord op te geven. Maak je account aan via onze <span
            class="font-weight-bold"><a routerLink="/registreren/organisatie">registratiepagina</a></span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="profileTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseProfileTwo" aria-expanded="true" aria-controls="collapseProfileTwo">
            <div class="row">
              <div class="col-10">
                Hoe maak ik een account als vzw?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseProfileTwo" class="collapse" aria-labelledby="profileTwo" data-parent="#accordionProfile">
        <div class="card-body">
          Een account als vzw kan je aanmaken door persoonlijke informatie op te geven zoals:
          <ul>
            <li>Naam</li>
            <li>Ondernemingsnummer</li>
            <li>Telefoonnummer</li>
            <li>Adres</li>
            <li>Telefoonnummer support</li>
            <li>E-mail support</li>
            <li>E-mail</li>
            <li>Wachtwoord</li>
          </ul>
          Maak je account aan via onze <span class="font-weight-bold"><a
              href="/registreren-organisaties">registratiepagina</a></span>
        </div>
      </div>
    </div>
  </div>
  <h4 class="mb-3">Verzending</h4>
  <div class="accordion mb-5" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="row">
              <div class="col-10">
                Hoeveel verzendkosten moet ik betalen?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Voor bestellingen kleiner dan €30 betaal je €5 verzendkosten. Bestellingen boven €30 worden gratis verzonden.
        </div>
      </div>
    </div>
  </div>
  <h4 class="mb-3">Retouren</h4>
  <div class="accordion mb-5" id="accordionReturn">
    <div class="card">
      <div class="card-header" id="returnOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseReturnOne" aria-expanded="true" aria-controls="collapseReturnOne">
            <div class="row">
              <div class="col-10">
                Hoe kan ik producten retourneren?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseReturnOne" class="collapse" aria-labelledby="returnOne" data-parent="#accordionReturn">
        <div class="card-body">
          Na het plaatsen van een bestelling ontvang je een bevestigingsmail. Hierin staat een link waarmee je producten
          kan retourneren.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="returnTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseReturnTwo" aria-expanded="true" aria-controls="collapseReturnTwo">
            <div class="row">
              <div class="col-10">
                Zijn de retouren gratis?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseReturnTwo" class="collapse" aria-labelledby="returnTwo" data-parent="#accordionReturn">
        <div class="card-body">
          Het retourneren van producten is volledig gratis.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="returnThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseReturnThree" aria-expanded="true" aria-controls="collapseReturnThree">
            <div class="row">
              <div class="col-10">
                Mijn producten zijn beschadigd, wat nu?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseReturnThree" class="collapse" aria-labelledby="returnThree" data-parent="#accordionReturn">
        <div class="card-body">
          Na het plaatsen van een bestelling ontvang je een bevestigingsmail. Hierin staat een link waarmee je producten
          kan retourneren. Bij de reden van retour kan je beschadiging kiezen om een volledige terugbetaling te krijgen.
        </div>
      </div>
    </div>
  </div>
  <h4 class="mb-3">Bestellingen</h4>
  <div class="accordion mb-5" id="accordionOrder">
    <div class="card">
      <div class="card-header" id="orderOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseOrderOne" aria-expanded="true" aria-controls="collapseOrderOne">
            <div class="row">
              <div class="col-10">
                Kan ik een bestelling annuleren?
              </div>
              <div class="col-2 text-center">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseOrderOne" class="collapse" aria-labelledby="orderOne" data-parent="#accordionOrder">
        <div class="card-body">
          Je kan gemaakte bestellingen niet annuleren, wel kan je na ontvangst de producten retourneren.
        </div>
      </div>
    </div>
  </div>
</div>
