<div class="row">
  <div class="col-12 col-md-4 col-lg-2 sidebar">
    <div class="col-12 mt-4 pt-2 pb-2 ml-2 bg-blue rounded">
      <i class="fas fa-chart-line mr-2"></i> Dashboard
    </div>
    <div class="col-12 mt-3 pb-2 rounded ml-2" routerLink="/organisatie/product">
      <i class="fas fa-tshirt mr-2"></i> Producten
    </div>
    <div class="col-12 mt-3 pb-2 rounded ml-2" routerLink="/organisatie/bestelling">
      <i class="fas fa-shopping-cart mr-2"></i> Bestellingen
    </div>
    <div class="col-12 mt-3 pb-2 rounded ml-2" routerLink="/organisatie/vrije-gift">
      <i class="fas fa-gift mr-2"></i> Vrije giften
    </div>
    <div class="col-12 mt-3 pb-2 rounded ml-2">
      <i class="fas fa-question mr-2"></i> Contact
    </div>
    <div class="col-12 mt-3 pb-2 rounded ml-2">
      <i class="fas fa-user-alt mr-2"></i> Profiel
    </div>
    <div class="col-12 mt-3 pb-2 rounded ml-2">
      <i class="fas fa-sign-out-alt mr-2"></i> Uitloggen
    </div>

  </div>
  <div class="col-12 col-md-8 col-lg-10">
    <div class="container mt-4">
      <app-title [titleText]="'Dashboard'"></app-title>

    <h5 class="mb-3">Overzicht</h5>
    <div class="row mb-5 mx-auto">
      <div class="col-sm-12 col-md-6 col-xl-4 mx-auto mb-2">
        <div class="card test-shadow" style="width: 14rem;" (click)="toOrganizationProduct()">
          <div class="card-body">
            <div class="row mt-2 mb-2">
              <div class="col">
                <p class="bigger-font mb-0">12</p>
              </div>
              <div class="col text-right">
                <i class="fas fa-tshirt fa-lg p-2 fa-border rounded"></i>
              </div>
              <div class="col-12">
                <p>Producten</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4 mx-auto mb-2">
        <div class="card test-shadow" style="width: 14rem;" (click)="toOrganizationOrder()">
          <div class="card-body">
            <div class="row mt-2 mb-2">
              <div class="col">
                <p class="bigger-font mb-0">12</p>
              </div>
              <div class="col text-right">
                <i class="fas fa-shopping-cart fa-lg p-2 fa-border rounded"></i>
              </div>
              <div class="col-12">
                <p>Bestellingen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-4 mx-auto mb-2">
        <div class="card test-shadow" style="width: 14rem;" (click)="toOrganizationDonation()">
          <div class="card-body">
            <div class="row mt-2 mb-2">
              <div class="col">
                <p class="bigger-font mb-0">12</p>
              </div>
              <div class="col text-right">
                <i class="fas fa-gift fa-lg p-2 fa-border rounded"></i>
              </div>
              <div class="col-12">
                <p>Vrije giften</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5 class="mb-2">Meest verkochte producten</h5>
    <div class="table-responsive">
      <table class="table mt-3 text-center table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Afbeelding</th>
            <th scope="col">Naam</th>
            <th scope="col">Prijs</th>
            <th scope="col">Besteld</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img
                src="https://images.unsplash.com/photo-1617173944882-2acd1c9cb75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                class="img-fluid" alt=""></td>
            <td>Product 1</td>
            <td>12.25</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>

  </div>
</div>



