.product-price {
  font-size: 14px;
}

.shopping-title {
  font-weight: bold;
  color: #031c29;
}

input, select {
  height: 30px;
}

.bg-shopping {
  background-color: #F4F4F4;
  border-radius: 8px;
}

.total-shopping {
  font-weight: bold;
}

.empty-basket {
  font-size: 18px;
}
