<div class="sidebar sticky-top">
  <a routerLink="/organisatie"><i class="fas fa-chart-line p-2"></i> Dashboard</a>
  <a class="active" routerLink="/organisatie/product"><i class="fas fa-tshirt p-2"></i> Producten</a>
  <a routerLink="/organisatie/bestelling"><i class="fas fa-shopping-cart p-2"></i> Bestellingen</a>
  <a routerLink="/organisatie/vrije-gift"><i class="fas fa-gift p-2"></i> Vrije giften</a>
  <a routerLink="/organisatie/account"><i class="fas fa-user-alt p-2"></i> Account</a>
  <a routerLink="/uitloggen"><i class="fas fa-sign-out-alt p-2"></i> Uitloggen</a>
</div>

<div class="content">
  <div class="container mt-4">
    <app-title [titleText]="'Stock'"></app-title>
    <form (ngSubmit)="onSubmit()" [formGroup]="stockForm" class="mb-5">
      <div class="form-group">
        <label for="amountInStock">Aantal in stock</label>
        <input type="number" class="form-control" id="amountInStock" name="amountInStock" placeholder="Aantal in stock" formControlName="amountInStock" minlength="1">
      </div>
      <div class="form-group">
        <label for="size">Maat</label>
        <select class="form-control" formControlName="size" id="size">
          <option value="" disabled>Kies een maat</option>
          <option *ngFor="let size of (sizes$ | async)" value="{{size.id}}" [ngValue]="size.id">{{size.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="color">Kleur</label>
        <select class="form-control" formControlName="color" id="color">
          <option value="" disabled>Kies een kleur</option>
          <option *ngFor="let color of (colors$ | async)" value="{{color.id}}">{{color.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="product">Product</label>
        <select class="form-control" formControlName="product" id="product">
          <option value="" disabled>Kies een product</option>
          <option *ngFor="let product of (products$ | async)" value="{{product.id}}">{{product.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-blue" *ngIf="isAdd" [disabled]="!stockForm.valid || isSubmitted">Toevoegen</button>
      <button type="submit" class="btn btn-blue" *ngIf="isEdit" [disabled]="!stockForm.valid || isSubmitted">Opslaan</button>
    </form>
    </div>
</div>


