<div class="sidebar">
  <a routerLink="/dashboard-admin"><i class="fas fa-chart-line p-2"></i> Dashboard</a>
  <a routerLink="/dashboard-admin/organisaties"><i class="fas fa-ribbon p-2"></i> Vzw's</a>
  <a routerLink="/dashboard-admin/klanten"><i class="fas fa-user p-2"></i> Klanten</a>
  <a class="active" routerLink="/dashboard-admin/producten"><i class="fas fa-tshirt p-2"></i> Producten</a>
  <a routerLink="/dashboard-admin/categorieën"><i class="fab fa-elementor p-2"></i>Categorieën</a>
  <a routerLink="/uitloggen"><i class="fas fa-sign-out-alt p-2"></i> Uitloggen</a>
</div>

<div class="content">
  <div class="container mt-4">
    <app-title [titleText]="'Producten'"></app-title>
    <div class="table-responsive">
      <table class="table mt-3 text-center table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naam</th>
            <th scope="col">Prijs</th>
            <th scope="col">Actief</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of (products$ | async)">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><i *ngIf="product.active" class="fas fa-check"></i><i *ngIf="!product.active" class="fas fa-times"></i></td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

