<div class="container mt-4">
  <app-title [titleText]="'Producten'"></app-title>
  <div class="table-responsive">
    <table class="table mt-3 text-center table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naam</th>
          <th scope="col">Prijs</th>
          <th scope="col">Actief</th>
          <th scope="col">Bekijken</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Panda knuffel</td>
          <td>€25</td>
          <td><i class="fas fa-check"></i></td>
          <td>??</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
