<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <app-title [titleText]="'Winkelmandje'"></app-title>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 pr-5">
          <div class="row">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-2 d-flex">
                  <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="col-3">
                  <h5>Product</h5>
                  <span>Size</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <i class="fas fa-minus mr-3"></i>
                  <span>1</span>
                  <i class="fas fa-plus ml-3"></i>
                </div>
                <div class="col-3">
                  <span>$ 12.50</span>
                </div>
                <div class="col-1">
                  <i class="fas fa-times"></i>
                </div>
              </div>
              <hr class="mt-4">
            </div>
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-2 d-flex">
                  <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="col-3">
                  <h5>Product</h5>
                  <span>Size</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <i class="fas fa-minus mr-3"></i>
                  <span>1</span>
                  <i class="fas fa-plus ml-3"></i>
                </div>
                <div class="col-3">
                  <span>$ 12.50</span>
                </div>
                <div class="col-1">
                  <i class="fas fa-times"></i>
                </div>
              </div>
              <hr class="mt-4">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 pl-4 pr-4 pt-3 pb-3" id="total_card">
          <div class="text-center">
            <span class="font-weight-bold">
              Vrije giften
            </span>
          </div>
          <div class="row">
            <div class="col-12 bg-white mt-3">
              <div class="row align-items-center">
                <div class="col-2 d-flex pl-0">
                  <img src="https://via.placeholder.com/50" alt="">
                </div>
                <div class="col-5 font-weight-bold">
                  <span>Pater damiaanactie</span>
                </div>
                <div class="col-4">
                  <div class="input-group">
                    <span class="input-group-addon d-flex align-items-center mr-2">$</span>
                    <input type="text" class="form-control" placeholder="0.00">
                  </div>
                </div>
                <div class="col-1">
                  <i class="fas fa-times"></i>
                </div>
              </div>
            </div>

            <div class="col-12 bg-white mt-3">
              <div class="row align-items-center">
                <div class="col-2 d-flex pl-0">
                  <img src="https://via.placeholder.com/50" alt="">
                </div>
                <div class="col-5 font-weight-bold">
                  <span>Pater damiaanactie</span>
                </div>
                <div class="col-4 ">
                  <div class="input-group">
                    <span class="input-group-addon d-flex align-items-center mr-2">$</span>
                    <input type="text" class="form-control" placeholder="0.00">
                  </div>
                </div>
                <div class="col-1">
                  <i class="fas fa-times"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
