.card {
  border: 0px !important;
  cursor: pointer;
}

h1 {
  font-size: 3.5rem;
  color: #031c29;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.banner-option{
  box-shadow: 0 3px 2px rgb(0 0 0 / 1%), 0 7px 5px rgb(0 0 0 / 1%), 0 13px 10px rgb(0 0 0 / 2%), 0 22px 17px rgb(0 0 0 / 2%) !important;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
  color:#031c29;
}


#banner{
  background-color: rgb(245, 245, 245);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#homeImg{
  height: 100%;
  max-width: 400px;
}

.banner {
  background-color: #f2f2f2;
  height: auto;
}

.bg-blue {
  background-color: #031c29;
}

.filter {
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: #031c29;
}

.btn-blue {
  background-color: #08344B;
  color: white;
}
