<div class="parallax">
  <div class="filter">
  <div class="container mb-5">
    <div class="text-center pt-5">
      <h1 class="text-center mb-5">SteunVzw</h1>
      <div class="row">
        <div class="col-sm-12 col-md-6 mb-3 text-sm-center text-md-right">
          <app-button [buttonText]="'Producten'" routerLink="/producten"></app-button>
        </div>
        <div class="col-sm-12 col-md-6 mb-3 text-sm-center text-md-left">
          <app-button [buttonText]="'Registreren'" routerLink="/registreren"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<main class="container">
  <div id="newarrivals" class="mt-4">
    <app-title [titleText]="'Producten'"></app-title>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of (products | async) | slice:0:displayNumProd">
        <div class="card mx-auto text-left" style="width: 18rem;">
          <div class="card-body">
            <img src="{{product.imageUrl[0]}}" alt="" class="mb-2 img-fluid" onerror="this.src='../../../../../assets/placeholder.png';">
            <h5 class="card-title mb-1" id="product-title">{{product.name}}</h5>
            <p class="card-text mb-2" id="product-price">€ {{product.price}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-blue mt-4 mb-3" routerLink="/producten">Alle producten</button>
    </div>
  </div>
</main>

<div class="banner mt-3 mb-5">
  <div class="container text-center">
    <div class="row pt-5 pb-4">
      <div class="col-sm-12 col-md-4 mb-5 mb-md-0">
        <div class="row">
          <div class="col-sm-12 mb-2">
              <i class="fas fa-euro-sign fa-3x" style="color: #08344B"></i>
            </div>
          <div class="col-sm-12 pt-3">
            <p class="font-weight-bold subtitle">Volledige terugbetaling</p>
            <p>Wanneer een product beschadigd of fout geleverd is geniet je van een volledige terugbetaling bij retourneren.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 mb-5 mb-md-0">
        <div class="row">
          <div class="col-sm-12 mb-2">
            <i class="fas fa-shipping-fast fa-3x" style="color: #08344B"></i>
            </div>
          <div class="col-sm-12 pt-3">
            <p class="font-weight-bold subtitle">Gratis verzending</p>
            <p>Bij bestellingen vanaf €30 worden je producten gratis verzonden.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="row">
          <div class="col-sm-12 mb-2">
            <i class="fas fa-hand-holding-heart fa-3x" style="color: #08344B"></i>
            </div>
          <div class="col-sm-12 pt-3">
            <p class="font-weight-bold subtitle">Steunen</p>
            <p>Je kan vzw's steunen door producten te kopen of een vrije gift te geven.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="vzws" class="mt-4">
    <app-title [titleText]="'Organisaties'"></app-title>
    <div class="container my-3 mb-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let organization of (organizations | async) | slice:3:displayNumOrg">
          <div class="card mx-auto text-left" style="width: 18rem;">
            <div class="card-body">
              <img src="{{organization.imageUrl}}" id="organizationImage" alt="" class="mb-2 img-fluid" onerror="this.src='../../../../../assets/placeholder.png';">
              <h5 class="card-title mb-1" id="product-title">{{organization.organizationName}}</h5>
            </div>
          </div>
          <!--<app-product-view  [productImg]="product.imageUrl[0]" [productTitle]="product.name" [productPrice]="product.price" (click)="onClick(product.id)"></app-product-view>-->
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-blue mt-4" routerLink="/organisaties">Alle vzw's</button>
      </div>
  </div>
</div>
</div>
