.card {
  border: 0px !important;
}

h1 {
  font-size: 3.75rem;
}

.card img {
  border-radius: 8px;
  width: 248px;
  height: 248px;
  border-color: #f3f3f3;
  border-width: 3px;
  border-style: solid;
}

.card-body img {
  border-radius: 8px;
  width: 400px !important;
  height: 250px !important;
}

.banner {
  background-color: #f2f2f2;
  height: auto;
}

.bg-blue {
  background-color: #001321;
}

.parallax {
  background-image: url("../../../../../assets/homepage.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.filter {
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: #001321;
}

.btn-blue {
  background-color: #08344B;
  color: white;
}
