.card {
  background: rgb(8,52,75);
  background: linear-gradient(90deg, rgba(8,52,75,1) 0%, rgba(12,78,113,1) 50%, rgba(16,105,152,1) 100%);
  color: white !important;
  height: 120px;
  cursor: pointer;
}

.card-side {
  background-color: #031c29;
  color: white !important;
  height: 120px;
  cursor: pointer;
}

.bigger-font {
  font-size: 1.08rem;
  font-weight: bold;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 1000px;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #08344B;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #08344B;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
