<app-admin-dashboard-sidenav></app-admin-dashboard-sidenav>

<div class="content">
  <div class="container mt-4">
    <app-title [titleText]="'Dashboard'"></app-title>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-3 mx-auto mb-2 pr-0">
          <div class="card test-shadow" style="width: 14rem; height: 20rem;" (click)="toAdminOrganization()">
            <div class="card-body">
              <div class="row mt-2 mb-2">
                <div class="col-8">
                  <p class="bigger-font mb-0">Vzw's</p>
                </div>
                <div class="col-4 text-right">
                  <i class="fas fa-ribbon fa-lg p-2 fa-border rounded"></i>
                </div>
              </div>
              <div class="pt-4">
                <img src="../../../../../assets/organizations.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mx-auto mb-2 pr-0">
          <div class="card test-shadow" style="width: 14rem; height: 20rem;" (click)="toAdminCustomer()">
            <div class="card-body">
              <div class="row mt-2 mb-2">
                <div class="col-8">
                  <p class="bigger-font mb-0">Klanten</p>
                </div>
                <div class="col-4 text-right">
                  <i class="fas fa-user fa-lg p-2 fa-border rounded"></i>
                </div>
              </div>
              <div class="pt-4">
                <img src="../../../../../assets/customers.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mx-auto mb-2 pr-0">
          <div class="card test-shadow" style="width: 14rem; height: 20rem;" (click)="toAdminProduct()">
            <div class="card-body">
              <div class="row mt-2 mb-2">
                <div class="col-8">
                  <p class="bigger-font mb-0">Producten</p>
                </div>
                <div class="col-4 text-right">
                  <i class="fas fa-tshirt fa-lg p-2 fa-border rounded"></i>
                </div>
              </div>
              <div class="pt-4">
                <img src="../../../../../assets/products.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mx-auto mb-2 pr-0">
          <div class="card test-shadow mx-auto" style="width: 14rem; height: 20rem;" (click)="toAdminCategory()">
            <div class="card-body">
              <div class="row mt-2 mb-2">
                <div class="col-8">
                  <p class="bigger-font mb-0">Categorieën</p>
                </div>
                <div class="col-4 text-right">
                  <i class="fab fa-elementor fa-lg p-2 fa-border rounded"></i>
                </div>
              </div>
              <div class="pt-4">
                <img src="../../../../../assets/categories.svg" alt="">
              </div>
            </div>
          </div>
        </div>











  </div>










  </div>
</div>

























