.blue-title {
  color: #031c29;
}

h2{
  color: #031c29;
  font-weight: bold;
  font-size: 1rem !important;
}

hr{
  background-color: red;
  padding: 0.05rem 0;
}

#product-title {
  font-size: 1rem !important;
  color: #031c29;
}

.aboutTitle {
  color: #031c29 !important;
  font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  img {
    width: 50%;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  img {
    width: 25%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  img {
    width: 25%;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  img {
    width: 25%;
  }
 }
