<div class="container mt-4">
  <app-title [titleText]="'Gebruikers'"></app-title>
  <div class="table-responsive">
    <table class="table mt-3 text-center table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naam</th>
          <th scope="col">E-mail</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Jolien Foets</td>
          <td>Jolien@mail.be</td>
          <td>Customer</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
