<div class="sidebar">
  <a routerLink="/dashboard-admin"><i class="fas fa-chart-line p-2"></i> Dashboard</a>
  <a class="active" routerLink="/dashboard-admin/organisaties"><i class="fas fa-ribbon p-2"></i> Vzw's</a>
  <a routerLink="/dashboard-admin/klanten"><i class="fas fa-user p-2"></i> Klanten</a>
  <a routerLink="/dashboard-admin/producten"><i class="fas fa-tshirt p-2"></i> Producten</a>
  <a routerLink="/dashboard-admin/categorieën"><i class="fab fa-elementor p-2"></i>Categorieën</a>
  <a routerLink="/uitloggen"><i class="fas fa-sign-out-alt p-2"></i> Uitloggen</a>
</div>

<div class="content">
  <div class="container mt-4">
    <app-title [titleText]="'Vzw'"></app-title>
    <div class="table-responsive">
      <table class="table mt-3 text-center table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naam</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefoonnummer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let organization of (organizations$ | async)">
            <th scope="row">{{organization.id}}</th>
            <td>{{organization.organizationName}}</td>
            <td>{{organization.email}}</td>
            <td>{{organization.phoneNr}}</td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

