img {
  height: 200px;
  object-fit: contain;
}

#product-title {
  font-size: 1rem !important;
}

button{
  background-color: #031c29;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 290px;
  height: 38px;

  &:hover{
    background-color: #184964;
  }
}

a {
  color: #031c29;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #184964 !important;
  cursor: pointer;
}
