<app-dashboard-sidenav></app-dashboard-sidenav>
<div class="content">
  <div class="container mt-4">
    <app-title [titleText]="'Vrije giften'"></app-title>
  <div class="table-responsive">
    <table class="table mt-3 text-center table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prijs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of (donations$ | async)">
          <th scope="row">{{donation.id}}</th>
          <td>€ {{donation.amount}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
</div>
