<footer class="mt-5 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-2">
        <a href="#" class="footer-link">Home</a>
      </div>
      <div class="col-sm-12 text-center mb-2">
        <a href="/producten" class="footer-link">Producten</a>
      </div>
      <div class="col-sm-12 text-center mb-2">
        <a href="/organisaties" class="footer-link">Vzw's</a>
      </div>
      <div class="col-sm-12 text-center mb-2">
        <a href="/contact" class="footer-link">Contact</a>
      </div>
      <div class="col-sm-12 text-center mb-2">
        <a href="/faq" class="footer-link">Faq</a>
      </div>
      <div class="col-sm-12 text-center">
        <a href="#"><i class="fas fa-user footer-link mr-2"></i></a>
        <a href="/winkelmandje"><i class="fas fa-shopping-cart footer-link"></i></a>
      </div>
    </div>
  </div>
</footer>
