<hr class="footer-line">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center mb-2">
      <a href="" class="footer-link">Home</a>
    </div>
    <div class="col-sm-12 text-center mb-2">
      <a href="" class="footer-link">Producten</a>
    </div>
    <div class="col-sm-12 text-center mb-2">
      <a href="" class="footer-link">Vzw's</a>
    </div>
    <div class="col-sm-12 text-center mb-2">
      <a href="" class="footer-link">Contact</a>
    </div>
    <div class="col-sm-12 text-center mb-2">
      <a href="" class="footer-link">Faq</a>
    </div>
    <div class="col-sm-12 text-center">
      <a href="#"><i class="fas fa-user footer-link mr-2"></i></a>
      <a href="#"><i class="fas fa-shopping-cart footer-link"></i></a>
    </div>
  </div>
  <p class="mt-4 mb-2 text-center footer-text">&copy; Marketplace - 2022</p>
</div>

