img{
  border-radius: 1rem;
}

p{
  padding: 0;
  margin: 0;

  &#product-title{
    font-size: 1rem;
    font-weight: bold;
  }
}

.card {
  border-radius: 1rem;
  cursor: pointer;
  border: none;

  .card-title{
    font-size: 1rem;
    font-weight: 600;
  }

  .card-text{
    color: #92c1dc;
    font-weight: 500;
  }

  .card-body{
    padding: 0;
  }

  .card-image-top {
    height: 75px;
    width: 75px;
    object-fit: contain;
    border: 2px solid #eee;

    @media only screen and (min-width: 470px) {
      height: 125px;
      width: 125px;
    }

    @media only screen and (min-width: 576px) {
      height: 200px;
      width: 200px;
    }

    @media only screen and (min-width: 768px) {
      height: 280px;
      width: 280px;
    }

    @media only screen and (min-width: 1200px) {
      height: 250px;
      width: 250px;
    }
  }

  i{
    color: #92c1dc;
  }
}

