:host {
  user-select: none;
  justify-content: center;

  .step-progress {
    padding: 15px 15px 15px 0;

    border-radius: 15px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: center;
  }

  .step-content {
    margin-top: 40px;
    position: relative;
    align-self: start;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }
}

.container {
  display: inline-flex;
  position: relative;
  padding: 0;
}

.check-box {
  display: flex;
  align-items: center;
  position: relative;

  .info {
    position: absolute;
    bottom: -2rem;
    display: grid;
    grid-template-columns: max-content;

    span.progress-info {
      text-transform: capitalize;
      font-size: 11px;
      display: inline-block;
      margin-left: 5px;
      padding: 2px 10px;
      transform: translateY(6px);
      font-weight: 500;
      color: currentColor;
      background: #eee;
      border-radius: 20px;
      transition: background-color 0.1s ease-in-out;
    }

    span.progress-info.in-progress {
      background-color: #234dc2;
      color: #fff;
    }

    span.progress-info.completed {
      background-color: #23c274;
      color: #fff;
    }

    span.step {
      margin-left: 10px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.5px;
      font-size: 11px;
      color: #777;
    }
  }

}

.progress-line {
  width: 3rem;
  margin: 0 10px;
  height: 4px;
  overflow: hidden;
  display: inline-block;
  background: #d2d2d2;
  border-radius: 10px;

  .progress-percent {
    height: inherit;
    width: 0%;
    transition: all 0.5s 0.5s cubic-bezier(0.45, 0, 0.55, 1);
  }
}

.progress-line.active {
  .progress-percent {
    background: #08344B;
    width: 50%;
  }
}

.progress-line.complete {
  .progress-percent {
    width: 100%;
    background: #08344B;
  }
}
.check-box {
  i#checkbox {
      stroke-dashoffset: 0;
      color: #d2d2d2 !important;
      display: inline-block;
  }

  i#checkboxChecked {
    stroke-dashoffset: 0;
    color: #d2d2d2 !important;
    display: none;
  }
}

.check-box.complete {
  i#checkbox {
      stroke-dashoffset: 0;
      color: #d2d2d2 !important;
      display: none;
  }

  i#checkboxChecked {
    stroke-dashoffset: 0;
    color: #08344B !important;
    display: inline-block;
  }
}
