button{
  background-color: #031c29;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 200px;

  &:hover{
    background-color: #184964;
  }
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  div.content {margin-left: 0;}
}

.bg-blue {
  background-color: white;
  color: #031c29;
}
