.btn-blue {
  background-color: #031c29;
  color: white;
}

.bg-blue {
  background-color: white;
  color: #08344B;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  div.content {margin-left: 0;}
}

.bg-blue {
  background-color: white;
  color: #031c29;
}
