.btn-blue {
  background-color: #08344B;
  color: white;
}

.sidebar {
  cursor: pointer;
  height: 100vh;
  background-color: #08344B;
  color: white;
}

.bg-blue {
  background-color: white;
  color: #08344B;
}
