<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>
  <!--<div class="alert alert-warning" role="warning">
    <p>Form Status: {{ productForm.status }}</p>
  </div>-->
  <h4>Product toevoegen</h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="productForm" class="mb-5">
    <div class="form-group">
      <label for="name">Naam</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2">
    </div>
    <div class="form-group">
      <label for="price">Prijs</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Price" formControlName="price" minlength="2">
    </div>
    <div class="form-group">
      <label for="description">Beschrijving</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description" formControlName="description" minlength="2">
    </div>
    <!--<div class="form-group">
      <label for="image">Image</label>
      <input
        id="image"
        type="file"
        class="form-control"
        autocomplete="off"
        (change)="onImageSelected($event)"
        accept=".png,.jpg">
      <div *ngIf="isSubmitted && uploadProgress">
        <progress max="100" [value]="(uploadProgress)"></progress>
      </div>
    </div>
    <div *ngIf="isEdit && imageSrc">
      <img src="{{imageSrc}}" alt="article image">
    </div>-->
    <div class="form-group">
      <input type="checkbox" formControlName="active" id="active" class="mr-2">
      <label for="active">Actief</label>
    </div>
    <button type="submit" class="btn btn-blue" *ngIf="isAdd" [disabled]="!productForm.valid || isSubmitted">Toevoegen</button>
    <button type="submit" class="btn btn-blue" *ngIf="isEdit" [disabled]="!productForm.valid || isSubmitted">Opslaan</button>
  </form>
  <h4>Stock toevoegen</h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="stockForm">
    <div class="form-group">
      <label for="amountInStock">Aantal producten in stock</label>
      <input type="number" class="form-control" id="amountInStock" name="amountInStock" placeholder="Producten in stock" formControlName="amountInStock" minlength="1">
    </div>
    <button type="submit" class="btn btn-blue" *ngIf="isAdd" [disabled]="!productForm.valid || isSubmitted">Toevoegen</button>
    <button type="submit" class="btn btn-blue" *ngIf="isEdit" [disabled]="!productForm.valid || isSubmitted">Opslaan</button>
  </form>
</div>

<app-footer></app-footer>
