<app-admin-dashboard-sidenav></app-admin-dashboard-sidenav>
<div class="content">
  <div class="container mt-4">
    <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
      {{errorMessage}}
    </div>
    <app-title [titleText]="'Categorie'"></app-title>
    <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm" class="mb-5">
      <div class="form-group">
        <label for="name">Naam</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2">
      </div>
      <button type="submit" class="btn btn-blue" *ngIf="isAdd" [disabled]="!categoryForm.valid || isSubmitted">Toevoegen</button>
      <button type="submit" class="btn btn-blue" *ngIf="isEdit" [disabled]="!categoryForm.valid || isSubmitted">Opslaan</button>
    </form>
      </div>
</div>

