<div class="container mt-4">
  <app-title [titleText]="'Product retourneren'"></app-title>
  <form class="mt-3">
    <div class="form-group mb-4">
      <label for="name">Naam<sup class="font-weight-bold">*</sup></label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Naam" minlength="2" required>
    </div>
    <div class="form-group mb-4">
      <label for="email">E-mail<sup class="font-weight-bold">*</sup></label>
      <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" minlength="2" required>
    </div>
    <div class="form-group mb-4">
      <label for="product">Product<sup class="font-weight-bold">*</sup></label>
      <input type="text" class="form-control" id="product" name="product" placeholder="Product" minlength="2"
        maxlength="100" required>
    </div>
    <div class="form-group mb-4">
      <label for="organization">Vzw<sup class="font-weight-bold">*</sup></label>
      <select class="form-control" id="organization">
        <option selected disabled>Kies een vzw</option>
        <option *ngFor="let organization of (organizations$ | async)">{{organization.organizationName}}</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label for="reasonretour">Reden van retour<sup class="font-weight-bold">*</sup></label>
      <select class="form-control" id="reasonretour">
        <option selected disabled>Kies een reden voor retour</option>
        <option>Beschadiging</option>
        <option>Foute levering</option>
        <option>Verkeerde maat</option>
        <option>Andere</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="solution" id="refund" value="option1" checked>
        <label class="form-check-label" for="refund">
          Volledige terugbetaling
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="solution" id="delivery" value="option2">
        <label class="form-check-label" for="delivery">
          Nieuwe levering
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-blue">Verzend</button>
  </form>
</div>
