.details-title {
  color: #031c29;
  font-weight: bold;
}

button{
  background-color: #031c29;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: .75rem;

  &:hover{
    background-color: #184964;
  }

  @media only screen and (min-width: 720px) {
    max-width: 400px;
  }
}

.input-size {
  border-radius: 8px;
  border-color: #031c29;
}

.select-size {
  background-color: white;
  border-color: #031c29;
  border-radius: 8px;
  border: 2px solid #031c29;

  @media only screen and (min-width: 720px) {
    max-width: 272px;
  }
}

option {
  background-color: #031c29;
  color: white;
}

.product-price{
  font-size: 24px;
  color: #92c1dc;
  font-weight: bold;
}

img{
  object-fit: contain;
  max-height: 330px;
  max-width: 330px;
  border-radius: 12px;
  border: 2px solid #eee;
}

.page-link{
  cursor: pointer;
  color: #92c1dc;
}

.add-cart{
  i{
    position: absolute;
    left: 0;
    margin-left: 2rem;
    margin-top: 0.30rem;
  }
}


select{
  font-weight: 600 !important;
 }
